<div>
  <h2 id="page-heading" data-cy="FactureHeading">
    <span jhiTranslate="easyTasksApp.facture.home.title">Factures</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="easyTasksApp.facture.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-facture"
        [routerLink]="['/facture/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="easyTasksApp.facture.home.createLabel"> Créer un nouveau Facture </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="factures?.length === 0">
    <span jhiTranslate="easyTasksApp.facture.home.notFound">Aucun Facture trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="factures && factures.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="refFacture">
            <div class="d-flex">
              <span jhiTranslate="easyTasksApp.facture.refFacture">Ref Facture</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateFacture">
            <div class="d-flex">
              <span jhiTranslate="easyTasksApp.facture.dateFacture">Date Facture</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="montant">
            <div class="d-flex">
              <span jhiTranslate="easyTasksApp.facture.montant">Montant</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="easyTasksApp.facture.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="etat">
            <div class="d-flex">
              <span jhiTranslate="easyTasksApp.facture.etat">Etat</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="client.nom">
            <div class="d-flex">
              <span jhiTranslate="easyTasksApp.facture.client">Client</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="projet.refProjet">
            <div class="d-flex">
              <span jhiTranslate="easyTasksApp.facture.projet">Projet</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let facture of factures; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/facture', facture.id, 'view']">{{ facture.id }}</a>
          </td>
          <td>{{ facture.refFacture }}</td>
          <td>{{ facture.dateFacture | formatMediumDate }}</td>
          <td>{{ facture.montant }}</td>
          <td>{{ facture.description }}</td>
          <td jhiTranslate="{{ 'easyTasksApp.StatutFacture.' + facture.etat }}">{{ facture.etat }}</td>
          <td>
            <div *ngIf="facture.client">
              <a [routerLink]="['/client', facture.client.id, 'view']">{{ facture.client.nom }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="facture.projet">
              <a [routerLink]="['/projet', facture.projet.id, 'view']">{{ facture.projet.refProjet }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/facture', facture.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/facture', facture.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(facture)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
