<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="ressource">
      <h2 data-cy="ressourceDetailsHeading"><span jhiTranslate="easyTasksApp.ressource.detail.title">Ressource</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ ressource.id }}</span>
        </dd>
        <dt><span jhiTranslate="easyTasksApp.ressource.nom">Nom</span></dt>
        <dd>
          <span>{{ ressource.nom }}</span>
        </dd>
        <dt><span jhiTranslate="easyTasksApp.ressource.prenom">Prenom</span></dt>
        <dd>
          <span>{{ ressource.prenom }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/ressource', ressource.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
